<div class="alert alert-block alert-error">
  <h1 class="alert-heading">Warning!</h1>
  Your browser is <em> not </em> supported.  The website will <em> not </em> be displayed correctly.  Please upgrade your browser here
  <strong><%= link_to "Browse Happy", "http://browsehappy.com" %></strong>.  If you're on <em> Internet Explorer</em>, please install
  <strong><%= link_to "Chrome Frame", "http://www.google.com/chromeframe" %></strong>.
</div>
