<div class="alert alert-block">
  <a class="close" data-dismiss="alert">x</a>
  <h4 class="alert-heading">Warning!</h4>
  Your browser is <strong> not </strong> supported.  The website will <strong> not </strong> be displayed correctly.  Please upgrade your browser here
  <%= link_to "Browse Happy", "http://browsehappy.com" %>.  If you're on <strong> Internet Explorer </strong>, please install
  <%= link_to "Chrome Frame", "http://www.google.com/chromeframe" %>.
</div>
