<h1 class='news_item_title page_header'>
  <small><%= link_to item.title.titleize, news_item_path(item) %></small>
</h1>

<h6 class='time_posted'>
  Posted: <%= distance_of_time_in_words_to_now(item.publish_date) %> ago
</h6>

<div id='news_link'>
<%= raw truncate(item.body.dup, length: 500).gsub(/<[^p]*\.\.\./, "...") %>
</div>
<p> <%= link_to "Read full article", news_item_path(item) %> </p>
