<div class="row">
	<div class="span12">
		<%= render 'refinery/pages/hero' %>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h1 class="page-header">What's Happening</h1>
	</div>
</div>

<div class="row">
	<div id='body_content' class="span8">
    <%= render 'refinery/pages/recent_news' %> 
	</div>

	<div id='site_body_content' class="span4">
    <%= render 'shared/side_bar' %>
	</div>

</div>

<div class="row">
  <div class="span12">
    <div id='partner_list'>
      <h1 id='partners' class="page-header">Partners</h1>
    </div>
  </div>
</div>

<div class="row">
	<div class="span12" id="partners">
		<%= raw @page.content_for(:partners) %>
	</div>
</div>
