<% provide :title, @page.title.titlecase %>
<% provide :subtitle, (sanitize @page.content_for(:subtitle), tags: [])%>

<div class="row">

	<div id='body_content' class="span7">
		<%=raw @page.content_for(:body) %>
	</div>

	<div id='site_body_content' class="span4">
		<%=raw @page.content_for(:side_body) %>
	</div>

</div>
