<% provide :title, "News" %>
<div class="row">
  <div class="span8">
    <% if @items.any? %>
      <%= render "article" %>
    <% else %>
      <p><em><%= t('.no_items_yet') %></em></p>
    <% end %>
  </div>
  <div class="span4">
    <%= render :partial => '/refinery/news/shared/body_content_right' %>
  </div>
</div>
