<% if @gallery %>
  <% provide :title, (@gallery.title.strip) %>
  <% provide :subtitle, (sanitize @gallery.description, tags: [])%>
<% else %>
  <% provide :title, "Media Galleries" %>
  <% provide :subtitle, "Choose from a gallery from below"%>
<% end %>

<div class="row">
	<% if @items.any? and @galleries.empty? %>
		<div class="span12">
      <%= render :partial => "refinery/portfolio/items/items",
        :locals => { :items => @items, :klass => "span12" } %>
		</div>
	<% elsif @galleries.any? and @items.empty? %>
		<div class="span12">
      <%= render :partial => "galleries",
        :locals => { :galleries => @galleries, :klass => "span3" } %>
		</div>
	<% elsif @galleries.any? and @items.any? %>
		<div class="span8">
      <%= render :partial => "refinery/portfolio/items/items", 
        :locals => {:items => @items, :klass => "span8"} %>
		</div>
		<div class="span4">
      <%= render :partial => "galleries", 
        :locals => {:galleries => @galleries, :klass => "span4"} %>
		</div>
	<% else %>
		<div class="span12">
			<p><em>No Galleries Created</em></p>
		</div>
	<% end %>
</div>
