<% if @gallery %>
  <% provide :title, (@gallery.title.strip) %>
  <% provide :subtitle, (sanitize @gallery.description, tags: [])%>
<% else %>
  <% provide :title, "Media Galleries" %>
  <% provide :subtitle, "Choose from a gallery from below"%>
<% end %>

<div class="row">
	<div class="span8">
		<%= render :partial => "refinery/portfolio/items/items", :locals => {:items => @items} %>
	</div>
	<div class="span4">
		<%= render :partial => "galleries", :locals => {:galleries => @galleries} %>
	</div>
</div>
