<div class="row">
	<div class="span12">
		<div class="page-header">
			<% if @gallery %>
				<h1><%= @gallery.title.strip %>
					<small><%= sanitize @gallery.description, tags: []%></small>
				</h1>
			<% else %>
				<h1>Media Galleries
					<small>Choose from a gallery from below</small>
				</h1>
			<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span8">
		<%= render :partial => "refinery/portfolio/items/items", :locals => {:items => @items} %>
	</div>
	<div class="span4">
		<%= render :partial => "galleries", :locals => {:galleries => @galleries} %>
	</div>
</div>
