// NLA branding
$nlaRed: #af0a0a;
$nlaBlack: #282828;


// Mixins
@mixin rounded($horiz, $vert, $radius: 1em) {
		border-#{$horiz}-#{$vert}-radius: $radius;
}

// Bootstrap Overrides//
// ===================//
$baseFontFamily: "Ubuntu", sans-serif;

// Navbar Background
$navbarBackground: darken($nlaRed, 10%);
$navbarBackgroundHighlight: $nlaRed;

// Navbar Texts
$navbarText: white;
$navbarLinkColor: white;
$navbarLinkBackgroundHover: $nlaBlack;
$navbarLinkBackgroundActive: $nlaBlack;

// Dropdown
$dropdownBackground: $nlaRed;
$dropdownLinkColor: white;
$dropdownLinkColorHover: darken(white, 20%);

// Links
$linkColor: $nlaRed;
@import "bootstrap";

body {
	padding: { 
		top: 211px; 
	}
}

#logo {
	padding: { top: 10px; }
}

header {
	.navbar-inner {
		background: $white;
	}

	#search {
		background: { color: $nlaRed; }

		.btn {
			margin: { top: 0; }
		}
	}
}

/************/
/**SN Icons**/
/************/

ul#sn-icons {
	margin: { bottom: 0; }
}

/************/
/*** Nav ****/
/************/
@import "nav";

/************/
/**Side Bar**/
/************/
#partner_list {
  img {
    padding: 2px;
  }
}

/************/
/*Hero Unit */
/************/
.hero-unit {
	height: 400px;

	#prezi {
		width: 75%;
		height: 100%;
		z-index: -99;
	}

	#take-actions {
		width: 23%;
		height: 100%;

		& > a {
			@include buttonBackground($navbarBackgroundHighlight, $navbarBackground);

			width: 100%;
			color: white;
			font: {
				weight: bold;
				size: 3em;
			}

			margin: {
				left: 2%;
				top: 8%;
			}
		}
	}
}

/************/
/** Footer **/
/************/
footer.navbar {

	// Act like a fixed navbar
	.container {
		@include gridCoreSpan($gridColumns, $gridColumnWidth, $gridGutterWidth);
	}

	a {
		color: white;
		&:hover {
			color: darken(white, 15%);
			text-decoration: none;
		}
	}

	.navbar-inner {
		padding: { top: 10px; }
	}

	margin: { bottom: 0; }
}
